<IfModule mod_rewrite.c >
RewriteEngine on
RewriteBase  /baitap
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ Index.php?route=$1 [QSA,L]
</IfModule>